<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="/">

  <% if (__DEV__) { %>
  <script src="/static/polyfills.dll.js"></script>
  <script src="/static/vendor.dll.js"></script>
  <% } %>

</head>

<body>
  <!--vue-ssr-outlet-->
</body>
</html>
